<body>
<% if @auction.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@auction.errors.count, "error") %> prohibited
      this auction from being saved:
    </h2>
    <ul>
      <% @auction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="login-form">
  <div class="auction-header">
    <h2>Publish Auction</h2>
  </div>
  <%= form_with model: @auction, local: true do |form| %>
    <% unless session['is_logged'] %>
      <div class="form-group">
        <%= form.text_field :buyer, :class => "form-control auction-form-element", :placeholder => "Email" %>
      </div>
    <% end %>

    <label> General: </label>
    <div class="form-group">
      <%= form.text_field :title, :class => "form-control auction-form-element", :placeholder => "Title" %>
    </div>
    <div class="form-group">
      <%= form.text_area :description, :class => "form-control auction-form-element", :placeholder => "Description" %>
    </div>
    <br>

    <label> Business Info: </label>

    <div class="form-group">
      <%= form.text_field :industry, :class => "form-control auction-form-element", :placeholder => "Industry" %>
    </div>


    <label> Auction Document: </label>
    <div class="form-group">
      <%= form.file_field :auction_document %>
    </div>
    <br>

    <div class="form-group">
      <%= form.submit "Publish!", :class => "btn btn-warning btn-block auction-form-element" %>
    </div>
  <% end %>
</div>
</body>