<% if @auction.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@auction.errors.count, "error") %> prohibited
      this auction from being saved:
    </h2>
    <ul>
      <% @auction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="login-form">
  <div class="auction-header">
    <h2>Publish Auction</h2>
  </div>
  <%= form_with model: @auction, local: true do |form| %>


    <label> Auction Info: </label>
    <div class="form-group">
      <%= form.text_field :title, :class => "form-control auction-form-element", :placeholder => "Title" %>
    </div>
    <div class="form-group">
      <%= form.text_area :description, :class => "form-control auction-form-element", :placeholder => "Description" %>
    </div>
    <br>

    <div class="form-group auction-document">
      <label> <strong>Auction Document:</strong> </label>
      <%= form.file_field :auction_document %>
    </div>
    <br>
    <label> Business Info: </label>
    <% unless session[:is_logged] %>

      <div class="form-group">
        <%= select_tag :industry, options_for_select(Auction::INDUSTRY_OPTIONS), :class => "form-control auction-form-element", :selected => "Industry", :name => "auction[industry]", :id => "auction_industry" %>
      </div>

      <br>
    <% end %>



    <% unless session['is_logged'] %>
      <div class="form-group">
        <%= form.text_field :buyer, :class => "form-control auction-form-element", :placeholder => "Your Email" %>
      </div>
    <% end %>

    <br><br>

    <div class="form-group">

      <input type="checkbox" class="form control private-checkbox" id="privateSupplier" onclick="showPrivateSupplier()">&nbsp
      Private Auction
      <br>
      <br>
      <%= form.text_field :supplier, :id => "supplier", :class => "form-control auction-form-element", :style => "display:none;", :placeholder => "Supplier Email" %>
    </div>


    <div class="form-group unsized-btn">
      <br>
      <%= form.submit "Publish!", :class => "btn btn-warning btn-block btn-form auction-form-element" %>
    </div>
  <% end %>
</div>


<script type="text/javascript">
    function showPrivateSupplier() {
// Get the checkbox
        var isPrivate = document.getElementById("privateSupplier");
// Get the output text
        var supplier = document.getElementById("supplier");

// If the checkbox is checked, display the output text
        if (isPrivate.checked) {
            supplier.style.display = "block";
        } else {
            supplier.style.display = "none";
        }
    }

</script>