<br>
<div class="row">
  <div class="col-md-6">
    <div class="card-content card-img-existing card-ilan">
      <center>
        <div class="card-desc">
          <h3>Existing User</h3>
          <br>
          <p>Use the full set of professional solutions for industry buy/sell</p>
          <%= link_to 'New Auction', new_auction_path, method: :get, :class => "btn btn-warning my-2 my-sm-0" %>
          <%= link_to 'Browse', auctions_path, :class => "btn btn-light my-2 my-sm-0" %>
        </div>
      </center>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card-content card-img-new card-ilan">
      <center>
        <div class="card-desc">
          <h3> Visitor </h3>
          <br>
          <p>Join now to propel your business forward!</p>
          <%= link_to 'Create User', new_user_path, :class => "btn btn-success my-2 my-sm-0" %>
          <%= link_to 'New Auction', new_auction_path, :class => "btn btn-warning my-2 my-sm-0" %>
        </div>
      </center>
    </div>
  </div>
</div>
<%= render 'layouts/login_modal.html.erb' %>
