<div class="behind-nav-blur">

  <nav class="navbar navbar-expand-lg flex-row navbar-fixed">

    <%= link_to root_path, :class => "navbar-brand" do %>
      <%= image_tag("logo.png", :style => "width:80px;height:40px;") %>
    <% end %>
    <a href=></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <%= link_to 'New Auction', new_auction_path, method: :get, :class => "btn btn-warning" %>
        </li>

        <li class="nav-item">
          <%= link_to 'All Auctions', auctions_path, :class => "btn btn-light" %>
        </li>

      </ul>
      <% unless session[:is_logged] %>
        <%= link_to 'Create User', new_user_path, :class => "btn btn-outline-light my-2 my-sm-0" %>
        <button id="loginButton" class="btn btn-outline-primary my-2 my-sm-0" data-toggle="modal" data-target="#loginModal">Login</button>


      <% else %>
        <%= link_to 'Settings', user_path(session[:logged_user_id]), :class => "btn btn-outline-light my-2 my-sm-0" %>
        <button class="btn btn-outline-danger my-2 my-sm-0"><%= link_to 'Logout', logout_path,
                                                                        method: :delete,
                                                                        data: {confirm: 'Are you sure?'} %></button>

      <% end %>
    </div>
  </nav>
  <br>
  <br>
  <%= render 'layouts/login_modal.html.erb' %>

</div>